body {
  background-color: #c2c2c2;
}

.App {
  text-align: center;
}

ul {
  max-width: 80%;
  padding: 0 3rem;
  margin: 0 auto;
}

input {
  padding: 8px;
  margin-right: 8px;
  width: 300px;
}

button {
  padding: 8px;
}

li {
  list-style-type: none;
  margin: 3rem 0;
}
