body {
  background-color: #dadada;
}

.App {
  text-align: center;
}

ul {
  max-width: 80%;
  padding: 0 3rem;
  margin: 0 auto;
}

input {
  padding: 8px;
  margin-right: 8px;
  width: 300px;
}

button,
select {
  padding: 8px;
}

li {
  list-style-type: none;
  margin: 3rem 0;
}
